@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;

  @media screen and (max-width: 600px){
    width: 100%;
  }
}

button {
  margin-top: 1rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  box-shadow: 1px 1px 5px darkgray;
  transition-duration: 0.4s;
}

button:hover {
  background: rgb(167, 224, 228);
  box-shadow: 0.2rem 0.2rem 5px rgb(169, 162, 172);
}

button:active {
  background: rgb(167, 224, 228);
  box-shadow: 0.2rem 0.2rem 5px rgb(169, 162, 172);
  transform: translateY(4px);
}

h1 {
  font-family: "Lobster two", sans-serif;
}
